<a href="https://colab.research.google.com/github/OmkarKule/EDA-MATERIALS/blob/master/Python_Revision_1_24_06_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
# Write a program to print Computer on one line & APTECH on next line
print("Computer\nAptech")

Computer
Aptech

In [83]:
#Q2 :- WAP to calculate & print basic,da,hr, total, Tax. Given Basics=1000.50. Calculate da as  50% of basics,hra as 20% of basic, total as Basics+da+hr & tax as 10% of total
Base=1000.50
print(Base)

Da=(Base)*(100/200)
print(Da)

Hr=(Base)*(100/500)
print(Hr)

T=(Base+Da+Hr)
print(T)

T1=(Base+Da+Hr)*(100/1000)
print(T1)

1000.5
500.25
200.10000000000002
1700.85
170.085

In [85]:
#Q3 WAP Calculate & print Base 5 & Height 10 of traiangle. Calculate & Print the area
B=5
H=10

Area=0.5*B*H
print(Area)

25.0

In [87]:
#Q4 WAP Calculate & print Base & Height of traiangle. Calculate & Print the area

B=int(input("Enter a Number "))
H=int(input("Enter a Number "))

Area=0.5*B*H
print(Area)

Enter a Number 5
Enter a Number 10
25.0

In [88]:
#Q5
a=float(input("Enter a Number "))
b=float(input("Enter a Number "))
c=float(input("Enter a Number "))

S=float(a+b+c)/2

Area=S*(S-a)*(S-b)*(S-c)
print(float(Area))
Area1= (a+b+c)/2
print(Area1)

Enter a Number 5
Enter a Number 6
Enter a Number 7
216.0
9.0

In [93]:
#Q6 WAP to convert Temperature in Fahrenheit into cetigrate using the formula c=5/9(f-32) & print
f=float(input("Enter a Number "))

c=5/9*(f-32)
print(c)

Enter a Number 35
1.6666666666666667

In [94]:
#Q7 WAP to accept in Hours, Minutes & Seconds & then calculate & print time in seconds

H=(int(input("Enter a Hours ")))
M=(int(input("Enter a Minutes ")))
S=(int(input("Enter a Seconds")))

T=(H*3600)+(M*60)+S
print(T)

#Hrs = 60sec per min * 60 min = 3600
#Min = 60sec = 60
#Sec = 1sec = 15
# Total = 12615

Enter a Number 3
Enter a Number 30
Enter a Number 15
12615

In [29]:
#Q8 WAP to accept 2 No. Inerchage the two No. Then print.
a=int(input("Enter a Number "))
b=int(input("Enter a Number "))

a1=(b)
b1=(a)

print (a1)
print (b1)

Enter a Number 9
Enter a Number 7
7
9

In [106]:
#Q9 WAP to input height into feet & Inches & then  print corresponding height in centemeters

f=(float(input("Enter a Height in feet ")))
I=(float(input("Enter a Height in Inches ")))

feet=f*12*2.54
inch=I*2.54

C=feet+inch

print(C)

Enter a Height in feet 5
Enter a Height in Inches 1
154.94